CursoCordova/lista_de_la_compra.rar
CursoCordova/Tragaperras.rar
CursoCordova/Tragaperras HTML-JS-CSS/img/moneda.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Yoruichi.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Yachiru.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Yamamoto.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Orihime.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Sado.png
CursoCordova/Tragaperras HTML-JS-CSS/img/equis.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Ulquiorra.png
CursoCordova/Tragaperras HTML-JS-CSS/img/Ichigo.png
CursoCordova/Tragaperras HTML-JS-CSS/audios/victoria.mp3
CursoCordova/Tragaperras HTML-JS-CSS/audios/tirar.mp3
CursoCordova/Tragaperras HTML-JS-CSS/audios/reintento.mp3
CursoCordova/Tragaperras HTML-JS-CSS/audios/game-over.mp3
CursoCordova/Tragaperras HTML-JS-CSS/css/style.css
CursoCordova/Tragaperras HTML-JS-CSS/js/index.js
CursoCordova/Tragaperras HTML-JS-CSS/index.html